{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules/", "serviceWorker.js", "setupTest.js"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {},
  "settings": {
      "import/resolver": {
        "typescript": {}
      }
  }
}
