{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules/", "serviceWorker.js", "setupTest.js"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "import"],
  "rules": {},
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
