$tablet: 800px;

body {
  background: #1b1a31;
}

.time-picker {
  display: grid;
  width: 60%;
  height: 60%;
  color: aliceblue;
  box-sizing: border-box;
  gap: 2px;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  overflow: hidden;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 9fr 1fr;
  div {
    background: #27264b;
    box-sizing: border-box;
  }
  position: relative;
  min-height: 400px;
}
.close {
  position: absolute;
  cursor: pointer;
  font-size: 2em;
  right: 10px;
  color: #6b6a6a;
}
@media only screen and (max-width: $tablet) {
  .time-picker {
    grid-template-rows: 6fr 4fr 1fr;
    grid-template-columns: 1fr;
    height: 80%;
  }
  .rel-time {
    grid-row: 1 span / auto;
  }
}

.abs-time {
  padding-top: 5vh;
  padding-left: 5vh;
  .text {
    font-weight: bold;
    font-size: 2.5vh;
  }
}
