$tablet: 800px;

.time-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  span {
    text-decoration: underline;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  padding: 0 6vh;
  button {
    width: 22%;
    height: 50%;
    background-color: #3d3a69;
    font-weight: bold;
    color: rgb(177, 176, 176);
    border-radius: 1em;
  }
}


@media only screen and (max-width: $tablet) {
  .time-zone {
    height: 10%;
  }
}