.uidd-component {
  background: #1b1a31;
}

.time-picker {
  color: aliceblue;
  background: #201f3b;
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
