* {
  margin: 0;
  padding: 0;
}

html {
  // margin: 0;
  // padding: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

div {
  width: 100%;
  height: 100%;
}

button {
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
}
